* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
  color: var(--color-base);
  background-color: var(--body-bg);
  margin: 20px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  border: none;
  background: none;
}

h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 1.872rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.328rem;
}
h6 {
  font-size: 1.072rem;
}

@media all and (min-width: 768px) {
  html {
    font-size: 12.5px;
  }
}
