.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
  }

  .nav {
    display: none;
    &-list {
      display: flex;
    }
    &-link {
      display: flex;
      align-items: center;
      margin: 10px;
      font-size: 1.5rem;
      &.active {
        border-bottom: 4px solid var(--color-base);
      }
    }
    &-item {
      margin: 0 5px;
    }
  }
}

@media all and (min-width: 768px) {
  .header {
    .nav {
      display: block;
    }
  }
}
